@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Mono:wght@700&display=swap");
.fondo {
  background-image: url(../../Fotos/parque/fond.jpg);
}

.inicio-titulo {
  background-color: rgba(224, 216, 176, 0.4039215686);
  color: #ffffff;
  font-family: "Libre Bodoni", serif;
  font-size: 40px;
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 20px 20px;
}

.inicio-titulo:hover {
  background-color: #e0d8b0;
  transition: all 2s;
}

.whatsapp {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 1;
  width: 80px;
}

.instagram {
  border: 20px;
  position: fixed;
  right: 100px;
  bottom: 5px;
  width: 80px;
  z-index: 1;
}

.navb {
  background-color: rgba(228, 220, 181, 0.3411764706);
  font-family: "Libre Bodoni", serif;
  font-size: 50px;
  display: flex;
  flex-direction: center;
  justify-content: end;
}

.navb:hover {
  background-color: rgba(201, 193, 157, 0.3098039216);
  transition: all 4s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Pprueba*/
.hola {
  background-color: #969e6b;
}

.cont {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.navhola {
  text-align: right;
  padding: 20px 50px 0 0;
  font-family: "Roboto Mono", monospace;
}

.navhola a {
  color: white;
  font-weight: 300px;
  text-decoration: none;
  margin-right: 50px;
}

.navhola a:hover {
  font-size: 20px;
  transition: 0.5s;
}

.tittl {
  color: #642a63;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*header*/
.hi1 {
  text-align: right;
  width: 100%;
  height: 600px;
  background: #4DA0B0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(211, 157, 56, 0.6039215686), rgba(77, 159, 176, 0.3764705882));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(211, 157, 56, 0.2823529412), rgba(77, 159, 176, 0.662745098)), url(../../Fotos/parque/5fa474c3-caa7-4e6c-8921-7481bca28f59.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.ola {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.galeria {
  display: flex;
  justify-content: space-evenly;
}

.titulodos {
  color: #fffdf9;
  font-family: "Libre Bodoni", serif;
}

.imagen-about-us {
  width: 48%;
}

.galeria .textos-nosotros {
  font-family: "Libre Bodoni", serif;
  width: 48%;
}

.textos-nosotros h2 {
  font-family: "Libre Bodoni", serif;
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.titulo-galeria {
  color: white;
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

.texto-p {
  color: #fffdf9;
  font-family: "Libre Bodoni", serif;
  padding: 0px 0px 20px 15px;
  font-size: 20px;
  text-align: center;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 5px;
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*FOOTER*/
.footer-inicio {
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.cont-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: white;
}

.titulo-final {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
}

/*CASAS*/
.texto-casas {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 20px 20px;
}

.h2-casas {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 0px 0px;
  text-decoration: none;
}

.hi2 {
  text-align: right;
  width: 100%;
  height: 600px;
  background: #4DA0B0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(211, 157, 56, 0.6039215686), rgba(77, 159, 176, 0.3764705882));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(211, 157, 56, 0.2823529412), rgba(77, 159, 176, 0.662745098)), url(../../Fotos/casas/casas-fuera.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.bg-textoh3 {
  background-color: white;
}

.texto-casash3 {
  font-family: "Roboto Mono", monospace;
  color: rgb(100, 98, 98);
  font-size: 20px;
  display: flex;
  flex-direction: end;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 50px 50px;
  text-decoration: none;
}

.contenedor-nosotros {
  background-color: #969e6b;
}

.titulo-sobrenosotros {
  color: rgb(228, 224, 224);
  font-family: "Libre Bodoni", serif;
  text-align: center;
  font-size: 50px;
  margin: 20px 0 0 0;
  padding: 30px;
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto Mono", monospace;
}

.sobrenosotros .contenidotextos {
  width: 48%;
  font-family: "Roboto Mono", monospace;
}

.interior {
  font-size: 30px;
  margin-bottom: 15px;
  color: rgb(228, 224, 224);
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid white;
  font-family: "Roboto Mono", monospace;
  margin: 0px 100px 5px 10px;
}

.interiorp {
  color: rgb(228, 224, 224);
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}

.habitaciones {
  font-size: 30px;
  margin-bottom: 15px;
  color: rgb(228, 224, 224);
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid white;
  font-family: "Roboto Mono", monospace;
  margin: 0px 100px 5px 10px;
}

.habitacionesp {
  color: rgb(228, 224, 224);
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin: 5px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
}

#casa1 {
  padding: 0;
  margin: 20px 20px;
  border-radius: 50%;
}

/*FOOTER*/
.footer-casas {
  color: rgb(100, 98, 98);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.cont-footer-casa {
  color: rgb(100, 98, 98);
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(100, 98, 98);
}

.content-foo-casa {
  color: rgb(100, 98, 98);
  text-align: center;
}

.content-foo .h4casa {
  color: rgb(100, 98, 98);
  font-family: "Libre Bodoni", serif;
  border-bottom: 1px solid rgb(100, 98, 98);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo .p-casa {
  color: rgb(100, 98, 98);
  font-family: "Libre Bodoni", serif;
}

.titulo-final-casa {
  font-family: "Libre Bodoni", serif;
  color: rgb(100, 98, 98);
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
}

#standard {
  background-color: rgb(161, 161, 90);
  font-size: 30px;
}

.fondo {
  background-image: url(../../Fotos/parque/fond.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.servicios {
  background-color: rgba(197, 180, 133, 0.404);
}

.contacto {
  background-color: rgba(197, 180, 133, 0.404);
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
