.fondo{
  background-image: url(../../Fotos/parque/fond.jpg);
}

.inicio-titulo{
    
    color: #ffffff;
    font-family: 'Libre Bodoni', serif;
    font-size: 60px;
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    margin: 150px 100px;
    padding: 20px 20px;
}
.inicio-titulo:hover {
    background-color: #969e6b;
    transition: all 2s;
}


