* {
    margin: 0;
    padding: 0;
}


/*FONDO INDEX*/
.hola {
    background-color: #969e6b;
}


.hi1  {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4d9fb0c4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d3848, #4d9fb0a9), url(../Fotos/casas/inde.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d39d3848, #4d9fb0a9), url(../Fotos/casas/inde.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.ola {
    position: absolute;
    bottom: 0;
    width: 100%;
}



/*FONDO SERVICIOS*/
.hi3 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #756f3d65, #80795773), url(../Fotos/nueva/mesaexterior.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #756f3d65, #80795773), url(../Fotos/nueva/mesaexterior.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;

}

.contenedor-foto{
    background-color: #969e6b;
}

.servicios{
    background-color: #969e6b;
    
}

/*FONDO casas*/

.casas {
    background-color: #969e6b;
}

.hi2 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #649173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dbd5a465, #64917373), url(../Fotos/casas/fondoca.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dbd5a465, #64917373), url(../Fotos/casas/fondoca.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
   
}

.contacto {
    background-color: rgba(197, 180, 133, 0.404);
    
}


.bg-textoh3 {
    background-color: white;
}


.contenedor-nosotros {
    background-color: #969e6b;
}



.contenedor-nosotros-casa {
    background-color: white;
}

/*FONDO contacto*/
.hi4 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b4b0a948, #4d9fb0a9), url(../Fotos/casas/2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b4b0a948, #4d9fb0a9), url(../Fotos/casas/2.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



.fondo {
    background-image: url(../../Fotos/parque/fond.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*FONDO ubicacion*/

.hi5 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b4b0a948, #4d9fb0a9), url(../../Fotos/pileta/p.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}