
.fondo {
    background-color: rgba(167, 142, 74, 0.699);
}

.casas {
    background-color: rgba(167, 142, 74, 0.699);
}

.servicios{
    background-color: rgba(197, 180, 133, 0.404);
}

.contacto {
    background-color: rgba(197, 180, 133, 0.404);;
}