.navb {
    background-color: #e4dcb557;
    font-family: 'Libre Bodoni', serif;
    font-size: 50px;
    display: flex;
    flex-direction: center;
    justify-content: end;
}

.navb:hover {
    background-color: #c9c19d4f;
    transition: all 4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Pprueba*/

.hola {
    background-color: #969e6b;
}


.cont {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

.navhola {
    text-align: right;
    padding: 20px 50px 0 0;
    font-family: 'Roboto Mono', monospace;


}

.navhola a {
    color: white;
    font-weight: 300px;
    text-decoration: none;
    margin-right: 50px;

}

.navhola a:hover {
    font-size: 20px;
    transition: 0.5s;
}

.tittl {
    color: #642a63;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

.hi1 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d39d3848, #4d9fb0a9), url(../../Fotos/parque/5fa474c3-caa7-4e6c-8921-7481bca28f59.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.ola {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.galeria {
    display: flex;
    justify-content: space-evenly;

}

.titulodos {
    color: #fffdf9;
    font-family: 'Libre Bodoni', serif;
}

.imagen-about-us {
    width: 48%;

}

.galeria .textos-nosotros {
    font-family: 'Libre Bodoni', serif;
    width: 48%;

}

.textos-nosotros h2 {
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    color: white;
    margin-bottom: 15px;


}


.titulo-galeria {
    color: white;
    text-align: center;
    font-family: 'Libre Bodoni', serif;

}

.texto-p {
    color: #fffdf9;
    font-family: 'Libre Bodoni', serif;
    padding: 0px 0px 20px 15px;
    font-size: 20px;
    text-align: center;

}



.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 5px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}

.imagen-port>img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen-port:hover {

    filter: opacity(.5);



}


/*FOOTER*/
.footer-inicio {

    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.cont-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;

}

.content-foo {
    text-align: center;

}

.content-foo h4 {

    color: white;

    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {

    color: white;

}

.titulo-final {

    color: white;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;

}

/*CASAS*/

.casas {
    background-color: white;
}

.texto-casas {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 20px 20px;
}

.h2-casas {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px 0px;
    text-decoration: none;
}


.hi2 {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d39d3848, #4d9fb0a9), url(../../Fotos/casas/casas-fuera.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}





.bg-textoh3 {
    background-color: white;
}

.texto-casash3 {
    font-family: 'Roboto Mono', monospace;
    color: rgb(100, 98, 98);
    font-size: 20px;
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 50px 50px;
    text-decoration: none;

}

.contenedor-nosotros {
    background-color: #969e6b;
}

.titulo-sobrenosotros {
    color: rgb(228, 224, 224);
    font-family: 'Libre Bodoni', serif;
    text-align: center;
    font-size: 50px;
    margin: 20px 0 0 0;
    padding: 30px;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
}

.sobrenosotros .contenidotextos {
    width: 48%;
    font-family: 'Roboto Mono', monospace;
}

.interior {
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(228, 224, 224);
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid white;
    font-family: 'Roboto Mono', monospace;
    margin: 0px 100px 5px 10px;

}

.interiorp {
    color: rgb(228, 224, 224);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

.habitaciones {
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(228, 224, 224);
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid white;
    font-family: 'Roboto Mono', monospace;
    margin: 0px 100px 5px 10px;
}



.enlace {
    display: flex;
    justify-content: center;
    color: rgb(228, 224, 224);
    font-family: 'Roboto Mono', monospace;
}

.habitacionesp {
    color: rgb(228, 224, 224);
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
}

#casa1 {
    padding: 0;
    margin: 20px 20px;
    border-radius: 50%;

}



.titulo-patio {
    display: flex;
    justify-content: center;
    color: #969e6b;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #969e6b;
    font-family: 'Roboto Mono', monospace;
    margin: 20px
}

.video-about-us {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.parrafo-video {
    width: 60%;
    color: #969e6b;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 20px 20px;
    padding: 20px 20px;
    text-align: justify;
}


.livingfoto {
    padding: 0;
    margin: 20px 20px;
    border-radius: 100%;
    width: 30%;
}

.interior-lista {
    color: rgb(228, 224, 224);
    font-family: 'Roboto Mono', monospace;
    margin: 20px;

}

.contenedor-nosotros-casa {
    background-color: white;
}


.foto-cama {
    padding: 0;
    margin: 70px 20px;
    border-radius: 100%;
    width: 30%;
}

.habitaciones2 {
    color: #969e6b;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #969e6b;

    font-family: 'Roboto Mono', monospace;
    margin: 20px
}

.habitacion-lista {
    color: #969e6b;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
}



/*FOOTER*/
.footer-casas {
    color: rgb(100, 98, 98);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.cont-footer-casa {
    color: rgb(100, 98, 98);
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(100, 98, 98);
    ;

}

.content-foo-casa {
    color: rgb(100, 98, 98);
    text-align: center;

}

.content-foo .h4casa {

    color: rgb(100, 98, 98);
    font-family: 'Libre Bodoni', serif;
    border-bottom: 1px solid rgb(100, 98, 98);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo .p-casa {

    color: rgb(100, 98, 98);
    font-family: 'Libre Bodoni', serif;
}

.titulo-final-casa {
    font-family: 'Libre Bodoni', serif;
    color: rgb(100, 98, 98);
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;

}




/*SERVICIOS*/

.servicios {
    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d39d3848, #4d9fb0a9), url(../../Fotos/pileta/ff.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



$total-arrows: 3;
$arrow-line-length: 50px;
$arrow-line-width: 4px;

// arrow animtion + choose direction
@mixin arrow-transitions($rot: 0deg) {
    transform: translate(-50%, -50%) rotateZ($rot);
}

// base
html {
    height: 100%;
}

body {
    background: #000;
    position: relative;
    height: 100%;
}

// arrows
.arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60%;
    left: 50%;
    @include arrow-transitions(0deg);

    &:hover {
        cursor: pointer;

        .arrow {
            top: 50%;

            &:before {
                @include arrow-transitions(-30deg);
            }

            &:after {
                @include arrow-transitions(30deg);
            }
        }
    }
}

.arrow {
    position: absolute;
    left: 50%;
    transition: all .4s ease;

    &:before,
    &:after {
        transition: all .4s ease;
        content: '';
        display: block;
        position: absolute;
        transform-origin: bottom right;
        background: #fff;
        width: $arrow-line-width;
        height: $arrow-line-length;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotateZ(-45deg);
    }

    &:after {
        transform-origin: bottom left;
        transform: translate(-50%, -50%) rotateZ(45deg);
    }

    @for $i from 1 through $total-arrows {
        &:nth-child(#{$i}) {
            opacity: 0.3 * $i;
            top: 15 + (100% * $i/5);
        }
    }
}



.texto-servicios {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 60px;
    display: flex;
    flex-direction: end;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}


.texto-servicios:hover {
    font-size: 80px;
    transition: 2s;
}


button {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    padding: 5px 10px;
    border-radius: 100px;
    border: 2px solid #969e6b59;
    background-color: #969e6b59;
    color: white;
    box-shadow: 2px 2px 10px black;
    margin: 70px 70px;


}

button:hover {
    background-color: #969e6b;
}









/**/

.nuestras-casas {
    text-align: center;
}

.container-servi {
    padding: 200px 0;
}

.container-servi p {
    display: none;
    color: #ffffff;
}

.carta1 {
    background-image: url(../../Fotos/servicios/aaa.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta2 {
    background-image: url(../../Fotos/servicios/aa.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta3 {
    background-image: url(../../Fotos/servicios/a.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}



.servicios-li {
    color: white;
    margin: 15px 0px;
}


#texto-servi {

    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    border-bottom: 1px solid #ffffff;
    font-family: 'Roboto Mono', monospace;

}


.contenido-texto-foto {

    width: 60%;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin: 200px;
    padding: 20px 20px;
    text-align: justify;
}



.contenedor-sobre-fotos {
    display: flex;
    justify-content: space-evenly;
}

.photo1 {
    border-radius: 60%;
    width: 40%;
    margin: 40px 40px;
    padding: 0 0;

}

.photo1:hover {
    transition: 2s;
    width: 60%;
}



.nuestras-casas {
    margin: 0%;
    padding: 0;
}

.nuestras-casas .programas {
    display: flex;
    justify-content: center;
}


.h3servicios {
    display: block;
    margin: 0;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;

}

.h2servicios {
    color: white;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    margin: 10px 100px;
    padding: 10px;
}


.contenedor-sobre-pileta {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
}



.pileta {
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    padding: 0px;
    border-bottom: 1px solid white;
    font-family: 'Roboto Mono', monospace;
    margin: 0;

}

#foto-pile {
    width: 30%;
    border-radius: 30%;
    margin: 30px 30px;
}

.foto-pileta {
    width: 30%;
    border-radius: 30%;
    margin: 30px 30px;
}

.pile-listas {
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    text-align: start;
    font-size: 20px;
}

#foto-parque {
    width: 30%;
    border-radius: 30%;
    margin: 30px 30px;
}

.foto-parque {
    width: 30%;
    border-radius: 30%;
    margin: 30px 30px;
}


/*footer*/

.footer-servicios {
    background-color: #969e6b;

}

/*contacto*/

.hi4 {


    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b4b0a948, #4d9fb0a9), url(../../Fotos/casas/2.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.h3contacto {
    color: #969e6b;

    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;

}

.h2contacto {
    color: grey;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0 0;
    padding: 0 0;

}


/**/
.form-titulo {
    font-family: 'Roboto Mono', monospace;
    color: grey;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;


}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;


}


input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
}


#boton {
    background-color: #969e6b80;
    color: white;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
    background-color: #969e6b;
}


/*ubicacion*/

.hi5 {


    text-align: right;
    width: 100%;
    height: 600px;
    background: #4DA0B0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d39d389a, #4d9fb060);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b4b0a948, #4d9fb0a9), url(../../Fotos/pileta/p.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


#mapa {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px 20px;
}

.ubicah2 {
    background-color: rgb(170, 187, 125);
    color: white;
    font-family: 'Roboto Mono', monospace;

    text-align: center;
    margin: 0;
    margin-bottom: 20px;

}


$circle-w: 100px;
$circle-bg: #fff;
$arrow-bg:#55544F;
$body-bg: #9DDCDC;
$bezier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$bezier-bounce: cubic-bezier(.87, -.41, .19, 1.44);
$anim-timing: 3s;

html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    background-color: $body-bg;
}

.ico {
    margin: 0 auto;
    text-align: center;
    width: $circle-w;
    height: $circle-w;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    filter: url("#mapa");

    .circle {
        background: $circle-bg;
        border-radius: 50%;
        display: inline-block;
        height: $circle-w;
        width: $circle-w;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: 0%;

        &.circle-top {
            height: $circle-w / 3;
            width: $circle-w / 2.4;
            animation: blob-1-anim $anim-timing $bezier infinite;
            z-index: 0;
            top: 0;
        }

        &.circle-bottom {
            height: $circle-w / 3;
            width: $circle-w / 2.4;
            animation: blob-2-anim $anim-timing $bezier infinite;
            z-index: 9;
            bottom: 0px;
        }

    }


    .st-arrow {
        fill: $arrow-bg;
        animation: scrolly $anim-timing $bezier forwards infinite;
        perspective: 9000px;
        transform: translateZ(0);
        transform-origin: bottom;
    }
}

.svg {
    z-index: 9;
    position: relative;
}

@keyframes blob-1-anim {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    14% {
        transform: translateX(-50%) translateY(-8px);
    }

    24% {
        transform: translateX(-50%) translateY(0);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes blob-2-anim {
    0% {
        //transform: scale(1) translate(-50%,-150%);
        transform: scale(1) translate(-50%, 10px);
    }

    30% {
        //transform: scale(1) translate(-50%,-50%);
        transform: scale(1) translate(-50%, 10px);
    }

    70% {
        //transform: scale(1) translate(-50%,-50%);
        transform: scale(1) translate(-50%, 10px);

    }

    95% {
        //transform: scale(1) translate(-50%,-50%);
        transform: scale(1) translate(-50%, 26px);


    }

    100% {
        //transform: scaleX(1.5) translate(-50%,140%);
        transform: scale(1) translate(-50%, 10px);
    }
}

@keyframes scrolly {
    0% {
        transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
    }

    30% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }

    70% {
        transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
    }

    95% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }

    100% {
        transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
    }
}