.navb {

    background-color: #e0d8b06e;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: center;
    justify-content: end;
}

.navb:hover {
    background-color: #e0d8b0;
    transition: all 4s;
}


